#cargando {
    display: none;
}

main{
    background: linear-gradient(to bottom, #b70000, #2e0000);
    color: white;
    min-height: 400px;
    height: auto;
}

a,th{
    color: white;
}

#imaginador{
    width: auto;
    
    
}